[user]
	name = Matt Williams
	email = matt.seongjun@gmail.com
[core]
        excludesfile = ~/.gitexcludes
[diff]
        tool = vimdiff
[difftool]
        prompt = false
[difftool "vimdiff"]
        cmd = nvim -d $BASE $LOCAL -c '$wincmd w' -c 'wincmd H'
[merge]
        tool = vimdiff
[mergetool]
        prompt = true
[mergetool "vimdiff"]
        cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd H'
[fetch]
        prune = true
[alias]
        st = status
        ps = push
        psu = push --set-upstream origin
        pl = pull
        ft = fetch
        cl = clone
        br = branch
        brd = branch -d
        co = checkout
        com = checkout master
        cob = checkout -b
        cm = commit
        cma = commit -a
        up = pull upstream master
        all = !git add -A && git commit
        undo = reset HEAD~1 --mixed
        uncommit = reset HEAD^
        amend = commit -a --amend
[credential "https://github.com"]
        username = m4thayus
[credential "https://gitlab.com"]
        username = m4thayus
